{% extends "base.html" %}

{% block title %}Viewer{% endblock %}

{% block head %}
<style>
    body {
        background-color: black;
    }

    #video-container {
        position: relative;
        width: 100%;
        height: 100vh;
        margin: 0 auto;

        display: flex;
        justify-content: center;
    }

    #video-overlay {
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    #display-video {
        height: 100%;
    }

    #cursor {
        position: absolute;
        transform-origin: 0 0;
    }

    #audio-play-button {
        position: absolute;
        top: 10px;
        left: 10px;
    }
</style>
{% endblock %}


{% block content %}
<div id="video-container">
    <div id="video-overlay">
        <video id="display-video" src="data:," muted></video>
        <img id="cursor" src="data:," alt="Mouse Cursor" style="display: none;">
        <button 
            id="audio-play-button" class="button button-green"
            style="display: none;"
            onclick="startAudio()"
        >Play Audio</button>
    </div>
</div>

<audio id="display-audio" src="data:," style="display: none;"></audio>

<script>
    /* eslint-env browser */
    let monitorId = JSON.parse("{{ id }}");
    let cursorPosChanged = false;
    let cursorX = 0;
    let cursorY = 0;
    let cursorVisible = false;

    let cursorImageCache = new Map();
    let cursorImageChanged = false;
    let cursorScaleX = 1.0;
    let cursorScaleY = 1.0;
    let cursorImageUrl = null;

    let videoEl = document.getElementById('display-video');
    let audioEl = document.getElementById('display-audio');

    window.startAudio = () => {
        audioEl.play().then(() => {
            document.getElementById('audio-play-button').style.display = 'none';
        });
    };

    window.createSession = async (monitorId) => {
        let pc = new RTCPeerConnection({})
        pc.addEventListener('icecandidate', event => { });
        pc.addEventListener('iceconnectionstatechange', event => {
            console.log(pc.iceConnectionState)
        });
        pc.addEventListener('track', function (event) {
            switch (event.track.kind) {
                case 'video':
                    videoEl.srcObject = event.streams[0];
                    videoEl.play();
                    break;
                case 'audio':
                    audioEl.srcObject = event.streams[0];
                    audioEl.play().catch(() => {
                        document.getElementById('audio-play-button').style.display = 'block';
                    });
                    break;
            }
        });

        let controlChannel = pc.createDataChannel('control', { negotiated: true, id: 0 });
        controlChannel.binaryType = 'arraybuffer';
        controlChannel.addEventListener('close', () => {
            console.log('Channel closed');
        });
        controlChannel.addEventListener('open', () => {
            console.log('Channel opened');
        });
        controlChannel.addEventListener('message', event => {
            const buffer = event.data;
            const view = new DataView(buffer);
            const type = view.getUint8(0);
            switch (type) {
                case 0:
                    let videoWidth = videoEl.videoWidth;
                    let videoHeight = videoEl.videoHeight;
                    let clientWidth = videoEl.clientWidth;
                    let clientHeight = videoEl.clientHeight;

                    if (videoWidth > 0 && videoHeight > 0) {
                        cursorX = (view.getInt32(1) / videoWidth) * clientWidth;
                        cursorY = (view.getInt32(5) / videoHeight) * clientHeight;
                        cursorVisible = view.getUint8(9) === 1;
                        cursorPosChanged = true;

                        let newCursorScaleX = clientWidth / videoWidth;
                        let newCursorScaleY = clientHeight / videoHeight;
                        if (newCursorScaleX !== cursorScaleX || newCursorScaleY !== cursorScaleY) {
                            cursorScaleX = newCursorScaleX;
                            cursorScaleY = newCursorScaleY;
                            cursorImageChanged = true;
                        }
                    }
                    break;
                case 1:
                    let crc32 = view.getUint32(1);

                    if (cursorImageCache.size > 100) {
                        cursorImageCache.clear();
                    }

                    let cached = cursorImageCache.get(crc32);
                    if (cached) {
                        cursorImageUrl = cached;
                        cursorImageChanged = true;
                    } else {
                        let blob = new Blob([new Uint8Array(buffer, 5)], { type: 'image/png' });
                        let urlCreator = window.URL || window.webkitURL;
                        cursorImageUrl = urlCreator.createObjectURL(blob);
                        cursorImageCache.set(crc32, cursorImageUrl);
                    }
                    cursorImageChanged = true;
                    break;
            }
        });

        pc.addTransceiver('video', { 'direction': 'sendrecv' })
        pc.addTransceiver('audio', { 'direction': 'sendrecv' })
        let localOffer = await pc.createOffer();
        await pc.setLocalDescription(localOffer);

        console.log(localOffer);

        let sdp_response = await fetch(`/webrtc/${monitorId}/sdp`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(localOffer)
        });

        if (sdp_response.status !== 200) {
            console.log('Error: ' + sdp_response.status);
            return;
        }

        pc.setRemoteDescription(new RTCSessionDescription(await sdp_response.json()))
    }

    const cursorElement = document.getElementById('cursor');

    function refreshCursor(timestamp) {
        if (cursorPosChanged) {
            if (cursorVisible) {
                cursorElement.style.display = 'block';
                cursorElement.style.left = cursorX + 'px';
                cursorElement.style.top = cursorY + 'px';
            } else {
                cursorElement.style.display = 'none';
            }
            cursorPosChanged = false;
        }

        if (cursorImageChanged) {
            cursorElement.src = cursorImageUrl;
            cursorElement.style.transform = `scale(${cursorScaleX}, ${cursorScaleY})`;
            cursorImageChanged = false;
        }

        window.requestAnimationFrame(refreshCursor);
    }
    window.requestAnimationFrame(refreshCursor);

    createSession(monitorId);
</script>
{% endblock %}